@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --toastify-color-success: #0e76fd !important;
  --toastify-font-family: default !important;
}

::-webkit-scrollbar {
  display: none;
}

@layer base {
  p,
  input {
    @apply tracking-wide;
  }
}
