@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --toastify-color-success: #0e76fd !important;
  --toastify-font-family: default !important;
}

::-webkit-scrollbar {
  display: none;
}

@layer base {
  p,
  input,
  button {
    @apply tracking-wide;
  }
  input,
  button {
    @apply outline-none;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    @apply appearance-none;
  }
}
